
body
{
    background-color: #FFFFFF;
    color: #353535;
}

#Main_info
{
    background-color: #FFFFFF;
    color: #353535;
}

#Little_info
{
    background-color: #284B63;      
    color: #FFFFFF;
}

#Head_info 
{
    background-color:#D9D9D9;
    color: #353535;
}

.footer
{
    background-color: #353535;
    color:#FFFFFF;
}