
*
{
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    width: auto;
    height: auto;
}

div
{
    display: block;
}

body
{
    background-color: #D8DBE2;
    color: #353535;
}

#Main_info
{
    color: #353535;
    background-color: #D8DBE2;
    height: 500px;
    padding: 0;
    margin: 1cm;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bio
{
    display: flex;
    height: 500px;
    border-top: 10px dotted gray;
    padding: 1cm;
    text-align: left;
    margin: auto;
    align-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
}

#Content
{
    display: flex;
    overflow-x: overlay;
}
.Little_info
{
    background-color: #FFFFFF;      
    color: #353535; 
    padding: 0;
    margin: 0;
    text-align: right;
}

.Head_info 
{
    color: #353535; 
    padding: 0;
    margin: 0;
    text-align: right;
}

img
{
    height: 500px;
    margin: 5px;
    width: 300px;
}

button
{
    background-color: transparent;
    align-items: right;
    border: 0px;
    display: flexbox;
    font-size: 20px;
}

#profile_pic
{
    float: left;
}

.Option
{
    background-color: #523F62;
    width: 514px;
    height: 294px;
    display: inline-block;
    color:#FFFFFF;
    text-align: center;
    margin: 1cm;
}



